

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.8 seconds transition on hover */
  transition: opacity .15s;

  
  	
  
}




.slidecontainer {
  width: 100%; /* Width of the outside container */
}




p{
	text-align:right;
	padding-right: 60px;
}




Table {

  border:  solid #ddd;
  width: 70%;


}

 td,th {
  border:  solid #ddd;

  
}
th {background-color : gray}


.DT{
	text-align:center;
	padding-left:25% ;
	margin-top:7px;
	
	
	
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
 p{
 padding-right: 0px;}

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 p{
 padding-right: 130px;}

}


















